
body {
    margin: 0px
}

.header-container {
    
    background-color:black;
    color: white;
    align-items: center;
    height: 50px;
    font-family: Tiro Devanagari Sanskrit;
    margin: 0px;
}

.header-logo {
    display: flex;
    margin-left: 70px;

}

h1 {
    margin-right: 15%;
}

li {
    margin-top: 4px;
}

nav {
    background-color: black;
}

.navigation-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
}





.header-image {
    background-image: url(../images/theater-image-background.png);
    background-size: cover;
    background-position-y: center;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 275px;


}