
body {
    margin: 0px
}

.header-container {
    
    background-color:black;
    color: white;
    align-items: center;
    height: 50px;
    font-family: Tiro Devanagari Sanskrit;
    margin: 0px;
}

.header-logo {
    display: flex;
    margin-left: 70px;

}

h1 {
    margin-right: 15%;
}

li {
    margin-top: 4px;
}

nav {
    background-color: black;
}

.navigation-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    margin: 0px;

}


.header-image-text {
    font-size: 300%;
    padding-bottom: 5%;
    color: white;
}


.header-image {
    background-image: url(../images/theater-image-background.png);
    /* background-size: cover; */
    background-position-y: center;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 275px;
}

.date {
    background-color: lightgrey;
    display: flex;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 25%;
    width: 50%;
    justify-content: flex-start;
    border: #999999;
    border-style: solid;
    border-width: 1px;
    
}

.performances {
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    

}

.play-image {
    width: 20%;
    margin-left: 2%;
    margin-top: 20px;
    height: fit-content;
}

.play-title {
    font-size: larger;
    margin-left: 5%;
    margin-bottom: 0px;
    
}

.play-text {
    margin-left: 5%;
    margin-top: 5px;
    margin-right: 5%;
    width: 270px;
    line-height: 30px;
}

button {
    justify-content: flex-end;
    margin-left: 5%;
    margin-top: 5%;
    width: 20%;
    height: 30px;
    background-color: orange;
    color: white;
}
hr {
    width: 50%;
}

footer {
    width: 50%;
    display: flex;
    background-color: black;
    margin-left: 25%;
    color: white;
}

.map {
    width: 20%;
    margin: 5%;
}

.info {
    width: 20%;
    justify-content: flex-start;
}

.shows {
    width: 20%;
    margin-left: 0%;
}

.footer-text {
    font-size: 5px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-label {
    margin-top: 25;
    margin-bottom: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.location {
    width: 8%;
    background-color: black;
}

.mail {
    width: 8%;
}